/* SIDEBAR */
.sidebar {
  height: 100vh;
  position: fixed;
  width: calc(25% - 50px);
  border-right: 1px solid #D86356;
  margin: 0px;
  padding: 25px;
}

.sidebar h1 {
  margin: 0;
  font-size: 2.85em;
}

.sidebar hr {
  border-top: 1px solid #D86356;
  margin: 20px 0;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  color: #D86356;
  padding: 5px 0;
}

nav a:hover {
  font-style: italic;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

.nonactive-link {
  text-decoration: none;
}

/* FILTER */
#filter h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

ul {
	list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
	position: relative;
	padding: 0;
	margin: 0;
}

h4 {
	font-size: 1em;
	font-weight: 550;
	display: block;
	margin: 0;
  cursor: pointer;
  color: #D86356;
}
p {
	color: #D86356;
	font-size: 15px;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;
}

ul li .arrow {
	position: absolute;
	margin-top: 0.5em;
	right: 0.5em;
}
ul li .arrow:before, ul li .arrow:after {
	content: "";
	position: absolute;
	background-color: #D86356;
	width: 3px;
	height: 9px;
}
ul li .arrow:before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul li .arrow:after {
	transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
  z-index: 1;    
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .arrow:before {
	transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ .arrow:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
.transition, p, ul li .arrow:before, ul li .arrow:after {
	transition: all 0.25s ease-in-out;
}
.no-select, h4 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}


/* MEDIA QUERIES */
@media (max-width: 1440px) {
  .sidebar h1{
    font-size: 2.25em;
  }
}
@media (max-width: 1366px) {
  .sidebar h1{
    font-size: 1.85em;
  }
  nav a {
    font-size: 1.35em;
  }
  #filter h3 {
    font-size: 1.35em;
  }
}
@media (max-width: 1024px) {
  .sidebar h1{
    font-size: 1.50em;
  }
  nav a {
    font-size: 1.20em;
  }
  #filter h3 {
    font-size: 1.20em;
  }
}
@media (max-width: 768px) {
  .sidebar h1{
    font-size: 1em;
  }
  nav a {
    font-size: 0.9em;
  }
  #filter h3 {
    font-size: 0.9em;
  }
  #filter h4 {
    font-size: 0.85em;
  }
  #filter .arrow {
    margin-top: 0.35em;
  }
}
@media (max-width: 480px) {
  .sidebar {
    width: calc(30% - 30px);
    padding: 15px;
  }
  .sidebar h1{
    font-size: 0.8em;
  }
  nav a {
    font-size: 0.7em;
  }
  #filter h3 {
    font-size: 0.7em;
  }
  #filter h4 {
    font-size: 0.6em;
  }
  #filter .arrow {
    margin-top: 0.3em;
  }
}
@media (max-width: 390px) {
  .sidebar h1{
    font-size: 0.6em;
  }
  nav a {
    font-size: 0.5em;
  }
  #filter h3 {
    font-size: 0.5em;
  }
}

