/* SIDEBAR */
.sidebar {
  height: 100vh;
  position: fixed;
  width: 25%;
  border-right: 1px solid #D86356;
  margin: 0px;
  padding: 30px;
}

.sidebar h1 {
  margin: 0;
  font-size: 3em;
}

.sidebar hr {
  border-top: 1px solid #D86356;
  margin: 20px 0;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  color: #D86356;
  padding: 5px 0;
}

nav a:hover {
  display: block;
  font-style: italic;
  text-decoration: none;
}

nav a.active {
  display: block;
  text-decoration: underline;
}

#filter h3 {
  font-size: 1.5em;
}

@media (max-width: 1440px) {
  .sidebar h1{
    font-size: 2.5em;
  }
}
@media (max-width: 1300px) {
  .sidebar h1{
    font-size: 2em;
  }
}
@media (max-width: 1024px) {
  .sidebar h1{
    font-size: 1.75em;
  }
  nav a {
    font-size: 1.25em;
  }
  #filter h3 {
    font-size: 1.25em;
  }
}
@media (max-width: 768px) {
  .sidebar h1{
    font-size: 1.25em;
  }
  nav a {
    font-size: 1em;
  }
  #filter h3 {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .sidebar h1{
    font-size: 1em;
  }
  nav a {
    font-size: 0.75em;
  }
  #filter h3 {
    font-size: 0.75em;
  }
}
@media (max-width: 350px) {
  .sidebar h1{
    font-size: 0.75em;
  }
  nav a {
    font-size: 0.75em;
  }
  #filter h3 {
    font-size: 0.75em;
  }
}

